body{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
  display: flex;
  gap:80px;
  
}
.nav{
  display: flex;  
  justify-content:space-around;
  background-color: bisque;
font-size: 30px;
  img{
    border-radius: 50px;
    margin-left: -290px;
  }
}


.Hero{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100vh;
  background-color: darkgray;
  color: white;
  p{
    margin-top: 5%;
margin-left:50px ;
font-size: 20px;
  }
  h1{
    margin-left: 30%;
    color: black;
  }
  button{
    margin-left: 40%;
    font-size: 20px;
    background-color:blanchedalmond ;
    color:brown;
   border-radius: 4px;
    border-color: 2px solid rgb(170, 23, 23);

  }
}